
UnityProject/UserSettings/Layouts/default-2021.dwlt
UnityProject/UserSettings/Search.settings

#vs
.vs/
/**/.claude/
#Luban
Configs/.cache.meta
GenerateDatas/
#FileServer
Tools/FileServer/www
#server
/**/[Bb]in/
/**/[Oo]bj/
/**/.idea/
Logs
/**/.vscode/

Build
Bundle
/Client/Bundles/

UnityProject/package
UnityProject/ProjectSettings/CommonBurstAotSettings.json
UnityProject/ProjectSettings/BurstAotSettings_StandaloneWindows.json
UnityProject/Assets/AssetArt/Font/CNSDF.asset
UnityProject/Assets/AssetArt/Font/CNSDF.asset.meta
UnityProject/UserSettings/Layouts/default-2022.dwlt
UnityProjectMirro/*
